/* Table of content */

/* 1. Basic resets */

/* 2.General Styling */

/* 3.Index page */

/* 4. About us page */

/* Table of content ends */

/****************************************************************
*****************************************************************
******************************************************************/

/********************** 1. Basic resets starts *******************/

/* remove all browser defaults */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

/* set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

/* remove border from all buttons and center the text within */
button,
button:is(:hover, :focus-visible) {
  line-height: 0;
  border: 0;
}

/* to remove all list decoration */
ul {
  list-style: none;
}

/* remove all underline decorations frm the anchor tags */
a {
  text-decoration: none;
}

/* makes images easier to work with */
img,
video,
picture,
svg {
  max-width: 100%;
  display: inline-block;
}

/********************** 1. Basic resets ends*******************/

/****************************************************************
*****************************************************************
******************************************************************/

/* 2.General Styling */

.two-cols-section {
  display: grid;
}

.section-padding {
  padding: 2rem;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: no-wrap;
  border: 0;
}

section {
  padding: 3rem 1rem;
}

/* 2.General Styling ends here*/

/****************************************************************
*****************************************************************
******************************************************************/

/*********************3.index page starts here***********************/


/********************* Header starts here *************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.8rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(6px);
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* background-color: white; */
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 8rem;
}

.primary-navigation{
  display: none;
}

.primary-navigation[data-visible]{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  padding: 2rem 1rem;
  /* -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); */
  /* background-color: rgba(33, 33, 120, 0.6); */
  background-image: linear-gradient(to right, rgba(33, 33, 120, 0.9), rgba(33, 33, 120, 0.88), rgba(33, 33, 120, 0.3));
  z-index: 100;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-26 14:50:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.primary-navigation[data-visible] li{
padding: 1rem 3rem;

}
.primary-navigation[data-visible] li:hover{

background-color: rgba(200, 200, 200, 0.6);
}
header a {
    color: rgb(255, 255, 255);
  }


.dropdown {
  position: relative;
}

 .dropdown-menu {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding: 1rem;
  backdrop-filter: blur(6px); 
  background-color: #666;
  z-index: 100;
}


button{
  color: white;
  font-size: 1.5rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

header a:is(:hover, :focus-visible),
header .fa-solid.fa-chevron-down:is(:hover, :focus-visible){
  color: blue;
}

/*************************** Header ends here ********************************/

/****************************************************************
*****************************************************************
******************************************************************/

/*************************** Hero starts here ********************************/
.hero-container .cta a:is(:hover, :focus-visible){
  font-weight: 600;
}

.hero {
  /* background-color: red; */
  position: relative;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

.hero-container h1,
.hero-container p {
  color: rgb(255, 255, 255);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-top: 20vh;
  line-height: 2.5rem;
}

.hero::before {
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
  position: absolute;
  inset: 0;
  content: "";
  z-index: 10;
  height: 100vh;
}

.hero-container .cta a {
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: blue;
}

.hero-container .cta a:hover {
  background-color: rgb(1, 1, 124);
}

.hero-container h1 {
  font-size:4.2rem;
  font-weight: 700;
  padding-block-end: 2rem;
  line-height: 4rem;
}

.hero-container p {
  padding-block-end: 25px;
  font-size: 20px;
}

/*************************** Hero ends here ********************************/
/************************3.index page ends here****************************/


/****************************************************************
  *****************************************************************
  ******************************************************************/


/************************4.About us page starts here****************************/


/* Header */

/* hero -About Us */
.hero-aboutus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
 padding: 9rem 2rem;
 text-align: center;
 background: url("/image/aboutus1.jpg") bottom center/cover no-repeat;
 height: 70vh;
}

.hero-aboutus::before{
  background-image: radial-gradient(rgba(0 ,0, 0, 0.4), rgba(0 ,0, 0, 0.7), rgba(0 ,0, 0, 0.8));
  position: absolute;
  inset: 0;
  content: "";
  z-index: 10;
}

.hero-aboutus h1, .hero-aboutus h3{
  color: white;
  max-height: 75vh;
  position: relative;
  z-index: 11;
}

.hero-aboutus h1{
 font-size: 3rem;
 font-weight: 800;
}

.hero-aboutus h3{
  font-size: 1.5 rem;
  font-weight: 600;
}

/* who we are -About Us */
.who-we-are{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; */
  border-block-start: 3px rgb(159, 137, 255) solid;
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: 2rem;
  background-image:linear-gradient(340deg, rgba(159, 137, 255, 0.8), rgba(0, 0, 0, 0.1), rgba(159, 137, 255, 0.8)) ;
}

.who-we-are h3{
  font-size: 2.5rem ;
 font-weight: 600;
 padding-block-end: 2rem;
} 

.who-we-are p{
  font-size: 1.2rem;
  font-weight: 400;
}

.who-we-are p span{
  font-weight: 500;
  color: blue;
}

.who-we-are p.show{
  display: none;
}


/* what we do -About Us*/

.what-we-do h3{
  font-size: 2.5rem ;
 font-weight: 600;
 text-align: center;
 padding-block-end: 2rem;
}

.service-list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  grid-gap: 2rem;
  padding-block-end: 2rem;
}

.service-list .service-list-box{
  width: 80vw;
  margin: auto;
  padding: 2rem;
  background-color: #e6e6e6;
  /* border: 2px #d8d8d8 solid; */
  box-shadow: 5px 10px 15px #888888;
  border-radius: 10px;
  cursor: pointer;
}

.service-list .service-list-box:is(:hover, :focus-visible){
  background-color: #c2c2c2;
}
.service-list h4{
  font-size: 1.5rem;
  font-weight: 600;
}

.service-list img{
  width: 6rem;
 padding-block-end: 1rem;
}


/* mission and vision -About Us */

.mission-vision{
   text-align:left;
   background-color: rgba(186, 187, 190, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.mission-vision div h3{
  font-size: 2rem ;
 font-weight: 600;
} 


/* why choose thynktech -About Us */
.choose-thynkteck{
  border-block-start:4px #e9e9e9 solid;
  background-image:linear-gradient(340deg, rgba(159, 137, 255, 0.8), rgba(0, 0, 0, 0.1), rgba(159, 137, 255, 0.8)) ;
}

.choose-thynkteck h3{
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}

.choose-thynkteck h4{
  font-size: 1.2rem;
  font-weight: 600;
}

.one{
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  margin-block-end: 2.5rem;
  gap: .5rem;
}

.one-img {
  width: 100%;
}

.one-img img{
  width: 100%; 
  height: 100%;
  border-radius: 10px;
}


/************************4.About us page ends here****************************/


/************************5.Services page starts here****************************/
/* hero-services */
.hero-services{
  position: relative;
  padding: 9rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/image/services2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-services h1, .hero-services p, .hero-services a{
  position: relative;
  z-index: 10;
  color: #ffffff;
  line-height: 2rem;
}

.hero-services::before{
  background-image: radial-gradient(rgba(0 ,0, 0, 0.4), rgba(0 ,0, 0, 0.7), rgba(0 ,0, 0, 0.8));
  position: absolute;
  inset: 0;
  content: "";
  z-index: 10;
}

.hero-services h1{
  font-size: 3rem;
  font-weight: 800;
  padding: 3rem 0;
}

.hero-services p{
  font-size: 1rem;
  font-weight: 600;
  margin-block-end: 1rem;
}

.hero-services a{
  background-color: blue;
  margin: 1rem;
  padding: 10px 15px;
  border-radius: 10px;
}

.hero-services a:is(:hover, :focus-visible){
  background-color: rgba(0, 0, 255, 0.678);
}


/* service-categories */
.service-categories  h3{
  font-size: 2.5rem ;
 font-weight: 600;
 text-align: center;
 padding: 2rem;
}


/* cta2 */
.cta2{
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.cta2 h4{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cta2 a{
  color: white;
  background-color: blue;
  margin: 1rem;
 padding: 10px 15px;
 border-radius: 10px;
}


.cta2 a:is(:hover, :focus-visible){
  background-color: rgb(3, 3, 99);
}

/****************************************************************
  *****************************************************************
  ******************************************************************/

/******************************desktop view ******************************/

@media (min-width: 768px) {
  /* 2.General Styling starts */
section{
  padding-inline: 3rem;
}


.who-we-are p.show{
  display: block;
}

  .one {
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
  }

  .one-img {
    width: 45%;
  }

  .one:nth-child(even){
  flex-direction: row-reverse;
  } 
}

/****************************************************************
  *****************************************************************
  ******************************************************************/

/******************************desktop view ******************************/

@media (min-width: 890px) {
  /* 2.General Styling starts */
  section {
    padding: 4.5rem;
  }

  .two-cols-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* 2.General Styling ends */

/************************ 3.index page starts here****************************/
 
/*************************** Header starts here *******************************/

  header span {
    color: white;
    margin-inline-start: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

  header ul {
    display: block;
  }

  .primary-navigation{
    display: contents;
  }

  .main-menu{
    gap: 1.5rem;
  }
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  header li,
  .cta {
    font-size: 16px;
    padding: 0.3rem;
  }

  header a {
    color: rgb(255, 255, 255);
  }

  header .cta a:is(:hover, :focus-visible) {
    background-color: rgb(1, 1, 124);
    color: #fdfbfb;
  }

  header div a {
    background-color: blue;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
  }

  .dropdown-menu{
    left: -1rem;
    width: 10rem;
  }

  button {
    display: none;
  }

  /*************************** Header ends here ********************************/

  /*************************** Hero starts here ********************************/

  .hero-container {
    margin-top: 35vh;
    line-height: 3rem;
  }
  /*************************** Hero ends here ********************************/

  /************************ 3.index page ends here****************************/

  /****************************************************************
  *****************************************************************
  ******************************************************************/

/************************4.About us page starts here****************************/

.who-we-are p.show{
  display: block;
}


.mission-vision{
  text-align:left;
  flex-direction: row;
  justify-content: space-between;
}

.mission-vision .mission, .mission-vision .vision {
  max-width: 45%;
  text-align: center;
}

.service-list{
  grid-template-columns: repeat(2, 1fr);
  /* text-align: center; */
  /* grid-gap: 2rem;
  padding-block-end: 2rem; */
}

.service-list .service-list-box {
  width: 40vw;
}

/************************4.About us page ends here****************************/
}
